@media screen and (max-width: 769px) { 
   
   /*Menu Hamburguesa*/
    .menu {
        display: none;
    }

    .menu_hamburguesa {
        display: block;
        width: 50px;
        margin: 20px 0;
    }

    .menu-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    
    /*Index*/

    .cont-header h1 {
        font-size: 2em;
    }

    .testimonios_clientes {
        display: block;
    }

    .testimonios_indi {
        width: 90%;
        margin: auto;
    }

    .generaciones {
        padding: 50px 0;
    }

    /*Servicios*/

    .servicios {
        display: block;
    }

    .cards_servicios {
        width: 100%;
        margin: 30px auto;
    }

    .texto_separacion_servicios {
        width: 90%;
    }

    .texto_separacion_servicios p {
        text-align: start;
    }

}

@media screen and (max-width: 456px) {
    
    /*Index*/

    .generaciones {
        display: block;
        padding: 50px 0;
        width: 90%;
        margin: auto;
    }

    .titulo_generacion {
        width: 100%;
        text-align: center;
    }

    .desc_generacion {
        width: 100%;
        padding-top: 15px;
    }

}