/* General */

* {
    margin: 0;
}

main {
    background-color: #dbdbdb;
}

.font_titulos {
    font-family: 'Roboto Slob', serif;
}

.font_textos {
    font-family: 'Roboto Mono', monospace;
}

.menu_chek {
    display: none;
}


.menu_hamburguesa {
    display: none;
}


.header-index-fondo {
    background-image: url('../img/fondo-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-bottom: 40px;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}


.logo a {
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.menu ul {
    display: flex;
    margin: auto;
}

.menu ul li {
    margin: 0 15px;
    list-style: none;
}

.menu ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.cont-header {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.cont-header h1 {
    font-size: 3.7em;
    color: white;
    font-weight: 400;
}

.cont-header p {
    color: white;
    margin: 30px 0 50px;
    font-size: 1.5em;
}

.boton {
    background-color: #f48847;
    padding: 10px 20px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.generaciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
}

.titulo_generacion {
    width: 40%;
    justify-content: center;
    align-items: center;
}

.titulo_generacion h2 {
    font-size: 2em;
    font-weight: 300;
    margin: auto 40px;
}

.desc_generacion {
    width: 60%;
    justify-content: center;
    align-items: center;
}

.desc_generacion p {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 30px;
    padding: 0 60px;
}

.img_index_separacion_testimonio {
    background-image: url(../img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.testimonios {
    margin: 15px auto;
}

.titulo_testimonio {
    width: 100%;
    text-align: center;
}

.titulo_testimonio h2 {
    font-size: 2.6em;
    font-weight: 100;
}

.testimonios_clientes {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.testimonios_indi {
    text-align: center;
    width: 33%;
    margin: 10px;
}

.testimonios_indi p {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 15px;
}

.nombre_testimonio p {
    font-weight: 500;
}

.img_index_separacion_footer {
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.consulta {
    background-color: #282d30;
    height: auto;
    text-align: center;
    padding: 50px;
}

.consulta h2 {
    font-weight: 400;
    font-size: 1.9em;
    color: white;
}

.consulta p {
    font-size: 1.3em;
    font-weight: 300;
    color: white;
    margin: 30px 0 50px;
}

footer {
    background-color: #e9ceb0;
    text-align: center;
    padding: 30px 0;
}

footer h2 {
    font-size: 2.5em;
    font-weight: 900;
}

footer .email, .telefono {
    font-weight: 500;
}

footer p {
    margin: 20px;
}

.redes_sociales ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociales ul li {
    list-style: none;
    margin-right: 15px;
    padding-right: 20px;
}

.redes_sociales img {
    width: 30px;
}

/* Nosotros */

.header-nosotros {
    background-image: url('../img/fondo-sections.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-bottom: 40px;
}

.titulo_nosotros {
    text-align: center;
    padding: 20px;
    font-size: 2.6em;
    font-weight: 100;
}

.img_nosotros {
    background-image: url('../img/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.texto_nosotros {
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 35px;
}